@page "/todo"
@using TasksBlazor.Models

<h3>Todo (@todoItems.Count( todo => !todo.IsDone ))</h3>

<ul>
@foreach (var todo in todoItems)
    {        
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />            
        </li>
    }
</ul>

<hr />

<input  @bind="@newTodo" placeholder="something todo" />
<button @onclick="AddTodoItem">Add Todo</button>

@code {

    private List<TodoItem> todoItems = new();
    private string? newTodo;

    private void AddTodoItem()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todoItems.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }

        
    }

}
