@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}


<h3>Doctor Dread's Diagnosis</h3>

<p>@Model.ExceptionMessage</p>

<p> Please contact your adminstrator and share the following Request ID
     and explain what you were trying to do before something went wrong</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}