@page "{id:Guid}"
@model TasksWebApp.Pages.DetailsModel


<div class="d-flex">
    <div class="flex-grow-1"><h2>Details</h2></div>
    <div><a asp-page="Index" class="btn btn-info m-2 pull-right">« Back </a></div>

</div>

<div class="container-fluid">

    <div class="row">

        <div class="col-lg-12 py-2">
            <div class="card active-box flex-row flex-wrap" id="contacts-nav-box" style="min-width:22rem">

                <div class="mx-auto align-self-center p-3"><i class="fa fa-solid fa-list-alt fa-4x home-icon"></i></div>
                <div class="card-block flex-fill mx-auto p-2">
                    <h3 class="card-title">@Model.TodoItem?.Title </h3>
                    <p class="card-text">
                        @Model.TodoItem?.Description<br />
                        <span class="pull-right px-2 mx-auto">
                            <a class="px-2" asp-page="Edit" asp-route-id="@Model.TodoItem?.ID">Edit</a>
                            <a class="px-2 text-danger" asp-page="Delete" asp-route-id="@Model.TodoItem?.ID">Delete</a>
                        </span>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 py-2">
            <div class="card">
                <h5 class="card-header">Track Messages</h5>
                <div class="card-body">
                    <p class="card-text">Track Messages and Comments related to ToDo Items.</p>
                    <a href="#" class="btn btn-success">Add</a>

                    <div class="py-2">
                        <!-- Messages -->
                     
                        <!-- End Messages -->

                    </div>
                </div>
             </div>
            
        </div>
    </div>
</div>
