@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="container-fluid">
    <div class="row">

        <div class="col-lg-6 py-2">
            <div class="card active-box flex-row flex-wrap" id="contacts-nav-box" style="min-width:22rem">
                <div class="mx-auto align-self-center p-3"><i class="fa fa-solid fa-list-alt fa-4x home-icon"></i></div>
                <div class="card-block flex-fill mx-auto p-2">
                    <h3 class="card-title">Task Item 1</h3>
                    <p class="card-text" style="min-width:22rem"> This is the first thing on my todo list</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 py-2">
            <div class="card active-box flex-row flex-wrap" id="contacts-nav-box" style="min-width:22rem">
                <div class="mx-auto align-self-center p-3"><i class="fa fa-solid fa-list-alt fa-4x home-icon"></i></div>
                <div class="card-block flex-fill mx-auto p-2">
                    <h3 class="card-title">Task Item 2</h3>
                    <p class="card-text" style="min-width:22rem"> This is the second thing on my todo list</p>
                </div>
            </div>
        </div>

         <div class="col-lg-6 py-2">
            <div class="card active-box flex-row flex-wrap" id="contacts-nav-box" style="min-width:22rem">
                <div class="mx-auto align-self-center p-3"><i class="fa fa-solid fa-list-alt fa-4x home-icon"></i></div>
                <div class="card-block flex-fill mx-auto p-2">
                    <h3 class="card-title">Task Item 3</h3>
                    <p class="card-text" style="min-width:22rem"> This is the third thing on my todo list</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 py-2">
            <div class="card active-box flex-row flex-wrap" id="contacts-nav-box" style="min-width:22rem">
                <div class="mx-auto align-self-center p-3"><i class="fa fa-solid fa-list-alt fa-4x home-icon"></i></div>
                <div class="card-block flex-fill mx-auto p-2">
                    <h3 class="card-title">Task Item 4</h3>
                    <p class="card-text" style="min-width:22rem"> This is the fourth thing on my todo list</p>
                </div>
            </div>
        </div>



    </div>
</div>



